.main {
    display: flex;
    justify-content: center;
    font-family: 'Amaranth';
    align-items: c;
    width: 100%;
    background-image: url('mfcbacko.jpg');
    height: 110vh;
  }
  
  .cover {
      background-color: rgb(0, 0, 0);
      width: 100%;
      position: absolute;
      height: 110vh;
      opacity: 70%;
      display: flex;
      justify-content: center;
      
  }
  
  #welcome {
      color: rgb(222, 255, 222);
      line-height: 24px;
      font-size: 16px;
      height: 100px;
      width: 380px;
  
  }
  
  
  #sub_main {
      z-index: 1000000;
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 130px;
      height: 600px;
  }
  
  #cool {
      width: 330px;
      background: rgba(255, 255, 255, 0.449);
     height: 500px;
      margin-top: 30px;   
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 35px;
      box-shadow: 0px 0px 4px white;
  }
  
  .inny {
      background-color: white;
      border: none;
      box-shadow: 0px 0px 5px black;
      font-size: 18px;
      width: 300px;
      padding-left: 6px;
      height: 26px;
  }
  