#mainContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#subContainer {
    width: 220px;
    display: flex;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    padding: 4px 10px 4px 20px;
    align-items: center;
    height: 40px;
}

#button {
    border: none;
    background-color: transparent;
    margin-top: 3px;
}